<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-white static-top" style="background-color: black; margin-bottom: 8%">
    <div class="container-fluid">

        <div>
            <a class="navbar-brand" href="{%url 'index'%}">
                <img src="https://res.cloudinary.com/zilfa/image/upload/v1610898591/rithainsta_rvojcy.png" style="margin-top:-0.2cm" alt="">

            </a>
        </div>

        <form action="{% url 'searchs'%}" class="search text-center" style="margin-top: 2%; margin-left:5%;">
            <input type="text" class="input-sm form-control" name="username"
            placeholder="Search" style="border-radius: 30px;margin-top:-0.5cm;height: 50px;font-family: 'Times New Roman', Times, serif;width: 300px;border:none;background-color: rgba(255, 255, 255, 0.11);">
          </form>

        <div class="account">

            <ul class="nav justify-content-end">
               
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'myprofile'%}" style="color: rgb(138, 134, 134);font-family: 'Times New Roman', Times, serif;margin-right: -1cm;font-weight: bold;"><i class="fas fa-user"></i> {{user.username}}</a>
                </li>

                <ul class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false" style="color: rgb(138, 134, 134); font-family: 'Times New Roman', Times, serif;font-weight: bold;" >Account
                    </a>
                    <ul class="dropdown-menu" role="menu" style="font-family: 'Times New Roman', Times, serif;">
                        <li>
                            &nbsp;<a href="{%url 'edit'%}" style="color: black;font-weight:bold" > Add profile</a>
                        </li>
                        
                        <li>
                            &nbsp; <a href="{%url 'upload'%}" style="color: black;font-weight:bold"> Upload</a>
                        </li>
                        
                        <li>
                            &nbsp;<a href="/accounts/password/change" style="color: black;font-weight:bold"> Change
                                Password</a>
                        </li>
                        
                        <li>
                            &nbsp; <a href="/logout" style="color: black;font-weight:bold"> Logout</a>
                        </li>
                    </ul>

                </ul>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login" style="color: black">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>

    </div>

</nav>