{%extends 'base.html'%}
{% block content %}
{{block.super}}

<div
    style=" background-image: linear-gradient(to right,#fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); height: 150vh;margin-top: -2.9cm;">
    <div class="container" style="padding-top:4%">
        <div class="media">
            <div class="container">
                <div class="row">
        
                    <div class="col-md-3">
                        <img class="rounded-circle" src="{{my_profile.profile_photo.url}}" width="180px" height="165px">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                            <p style="font-weight:bold">{{my_profile.user}}
                            </p>
                            <p>
                                {{my_profile.bio| safe}}
                            </p>
                        </div>
                        <div>
                            <span class="mr-5"><strong>{{profi_images.count}}</strong> Posts</span>
                            <span class="mr-5"> <strong>{{ user.profile.followers.count }}</strong>0 Followers</span>
                            <span class="mr-5"> <strong>{{ user.profile.followers.count }}</strong>0 Following</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            {% for user in profi_images %}
            <div class="col-md-4" style="margin-right:3%;margin-top: 3%; ">
                <img src="{{user.image.url}}" height="400" width="400" class="img-responsive" alt="Image">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}