{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Upload Image</title>
    {{form.media}}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

</head>
{% include "navbar.html" %}
<body style=" background-image: linear-gradient(to right,#fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);">
    <div class="container">

        <h1 style="text-align: center;margin-top: -2cm; font-family: 'Times New Roman', Times, serif;padding-bottom: 5%;">Upload Image</h1>

        <form action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary btn-lg" value="Post">
        </form>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %} {% endblock %}

    </div>

</body>

</html>